<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities</title>
    <link href="https://fonts.googleapis.com/css2?family=Rokkitt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main class="center">
        <h1>{{viewData.header}}</h1>

        {{#if viewData.session}}
            <section>
                <a id="logoutButton" href="/logout">Logout</a>
            </section>
            <p>{{viewData.session}}</p>
        {{else}}
            <section>
                <a id="loginButton" href="/login">Login</a>
            </section>
        {{/if}}
    </main>

</body>
</html>
